# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp

# Ignore IDE and editor files
.vscode/
.idea/
*.swp
*.swo

# Ignore dependency files
Pipfile
Pipfile.lock
poetry.lock
